<head>
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <title></title>
    <link rel="stylesheet" th:href="@{/css/bootstrap.min14ed.css?v=3.3.6}">
    <link rel="stylesheet" th:href="@{/css/font-awesome.min93e3.css?v=4.4.0}">
    <link rel="stylesheet" th:href="@{/css/animate.min.css}">
    <link rel="stylesheet" th:href="@{/css/style.min862f.css?v=4.1.0}">
    <!--[if lt IE 9]>
    <meta http-equiv="refresh" content="0;ie.html"/>
    <![endif]-->
</head>